---

---

<header class="fixed w-full bg-black/30 backdrop-blur-lg shadow-lg py-4 px-8 z-50">
  <nav class="max-w-6xl mx-auto flex justify-between items-center">
    <a href="/" class="text-2xl font-bold bg-gradient">
        {"</" + "JI" + ">"}
    </a>
    <ul class="hidden md:flex gap-8">
      <li>
        <a href="#about" class="text-gray-100 hover:text-gray-600">About</a>
      </li>
      <li>
        <a href="#projects" class="text-gray-100 hover:text-gray-600"
          >Projects</a>
      </li>
      <li>
        <a href="#skills" class="text-gray-100 hover:text-gray-600">Skills</a>
      </li>
      <li>
        <a href="#contact" class="text-gray-100 hover:text-gray-600">Contact</a>
      </li>
    </ul>
  </nav>
</header>


